<a href="https://colab.research.google.com/github/Ayub4455/solved-problems/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
n = int(input("enter n value:"))
last = n%10
first = n // 10**int(math.log10(n))
print(last+first)

enter n value:12345
6

In [ ]:
amount=int(input())
if amount%100 !=0:
  print("Invalid amount, try again")
else:
    if amount>=500:
      f=amount//500
      amount=amount%500
      print("500-",f)
    if amount>=200:
      t=amount//200
      amount=amount%200
      print("200-",t)
    if amount>100:
      h=amount//100
      amount=amount%100
      print("100-",h)

5000
500- 10

In [ ]:
print("***canteen menu***")
print("1.water bottle - 20")
print("2.fried rice - 80")
print("3.noodles - 90")
option=int(input("Enter your option"))
if option==1:
    n=int(input("Enter the no.of water bottles:"))
    bill=n*20
elif option==2:
    n=int(input("Enter the no.of fried rice:"))
    bill=n*80
elif option==3:
    n=int(input("Enter the no.of noodled:"))
    bill=n*90
else:
    print("invalid option,try again")
print("your bill is:",bill)

***canteen menu***
1.water bottle - 20
2.fried rice - 80
3.noodles - 90
Enter your option2
Enter the no.of fried rice:2
your bill is: 160

In [ ]:
total_bill=0
bill=0
ch=input("Do you want to order something:")
while ch=='y' or ch=='y' :
        print("***canteen menu***")
        print("1.water bottle - 20")
        print("2.fried rice - 80")
        print("3.noodles - 90")
        option=int(input("Enter your option"))
        if option==1:
                n=int(input("Enter the no.of water bottles:"))
                bill=n*20
        elif option==2:
                n=int(input("Enter the no.of fried rice:"))
                bill=n*80
        elif option==3:
                n=int(input("Enter the no.of noodled:"))
                bill=n*90
        else:
                print("invalid option,try again")
                print("your bill is:",bill)
                total_bill=total_bill+bill
                ch=input("Do you want to order anything more:")
print("Your total bill is:",total_bill)

Do you want to order something:2
Your total bill is: 0

In [ ]:
n=int(input())
n1=n2=n
count=0
while n1>0:
        count=count+1
        n1=n1//10
sum=0
while n2>0:
        digit=n2%10
        sum=sum+(digit**count)
        count=count-1
        n2=n2//10
if sum==n:
          print(n,"is a disarium number ")
else:
          print(n,("is not a disarium number "))

456
456 is not a disarium number